<div class="hFull wFull" ng-controller="MapCtrl" ng-if="render">
    <!-- <h1>Food Trucks</h1> -->
    <!-- {{MapOptions | json}} -->
    <ui-gmap-google-map center="map.center" zoom="map.zoom" class="hFull wFull">
    	<ui-gmap-window coords="MapOptions.markers.selected.coords" show="windowOptions.visible"
	        closeClick='closeClick()'
	        ><div>{{ title }}</div>
		</ui-gmap-window>
	    <ui-gmap-markers models="markers" coords="'self'" idKey="'idKey'" options="'options'" events="markers.events" click="onClick">
	    	
	    </ui-gmap-markers>
        <!-- <ui-gmap-marker ng-repeat="bear in bears" idKey="bear._id" coords="bear.geo.coords" options="{title: bear.name}"></ui-gmap-marker> -->
    </ui-gmap-google-map>

</div>