<div class="container">
    <div class="jumbotron row rel">
        <div ng-if="fbShowDetails" class="col-lg-4 col-md-5 fbDetails">
            <span ng-click="showFbDetails()" class="glyphicon glyphicon-remove pull-right csrPointer"></span>
            <label class="mb20">
                <span class="mb10">Publish as:</span> 
                <select ng-if="fbLogInStatus === 104" ng-model="$parent.$parent.selectedPage" ng-options="page.name for page in fbPages track by page.id" class=""></select>
            </label>
            <button ng-click="setPage($parent.selectedPage)" class="col-md-12 btn btn-default btn-primary mb10">Set Page</button>
            <button ng-if="fbLogInStatus === 104" ng-click="fbRevoke()" class="col-md-12 btn btn-default btn-secondary">Remove Facebook Account</button>
        </div>

        <p nf-if="fbStatusText" class="pull-right">{{ fbStatusText }}</p>
        <div class="col-lg-12 pull-right">
            <button ng-show="fbLogInStatus == 103" ng-click="fbLogOut()" class="btn btn-default btn-secondary pull-right">Log out of Facebook</button>
            <button ng-click="fbLogin()" ng-hide="fbLogInStatus == 104 || fbLogInStatus == 103" class="btn btn-default btn-primary pull-right" >Log In With Facebook</button>
        </div>
        <div ng-if="!userHasTrucks">
            <div class="col-lg-12 mb20">
                <form data-ng-submit="" class="form-inline">
                    <h2>Add your food truck:</h2>
                </form>
            </div>
            <form data-ng-submit="formSubmit(navigator.geolocation)">
                <div class="col-lg-12 mb20">
                    <input type="text" name="name" class="form-control" ng-model="newTruck.name" placeholder="Name">
                </div>
                <div class="col-lg-12 mb20">
                    <input type="text" name="windowCopy" class="form-control" ng-model="newTruck.windowCopy" placeholder="Copy">
                </div>
                <div class="col-lg-12 mb20">
                    <input type="text" name="url" class="form-control" ng-model="newTruck.menuUrl" placeholder="URL">
                </div>
                <div class="col-lg-12 mb20">
                    <h2>Use an address, or leave blank to use your current location:</h2>
                    <input type="text" name="address" class="form-control" ng-model="newTruck.address" placeholder="e.g. 500 Granby Street, Norfolk, VA OR Plume Street at Bank Street, Norfolk, VA">
                </div>
                <span class="col-lg-12">
                    <button type="submit" class="btn btn-primary">Add</button>
                </span>
            </form>
        </div>
        <div ng-if="userHasTrucks" class="col-lg-12 mb20">
            <h2 class="mb20">Change your info or update your location:</h2>
            <ul class="list-unstyled">
        	    <li class="col-lg-8 mb20 truckContainer p10" ng-repeat="truck in userTrucks" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false">
                    <button class="btn btn-default btn-primary" ng-click="setEditing()" ng-if="!editingTruck">Edit</button>
                    <span ng-click="deleteTruck(truck._id)" class="mt20 csrPointer right" ng-show="mouseOver">X Delete</span>
                    <div class="p5">
                        <h3>{{ truck.name }}</h3>
                        <p>Description: {{ truck.windowCopy }}</p>
                        <p>Street Address: {{ truck.address }}</p>
                        <p>Longitude: {{ truck.geo.coordinates[0] }} , Latitude: {{ truck.geo.coordinates[1] }}</p>
                        <p>Website/Menu link: {{ truck.menuUrl }}</p>
                        <p>Date Modified: {{ truck.dateModified | date:'MMM dd yyyy H:mm' }}</p>
                        <button class="btn btn-default btn-primary col-md-4" ng-click="fbPagePost(selectedPage, {text: truck.windowCopy, address: truck.address, link: truck.menuUrl})" ng-if="fbLogInStatus == 104">Post to Facebook</button>
                        <p class="col-md-8" ng-if="fbLogInStatus == 104">Posting to: {{ selectedPage.name }}</p>
                        <p ng-if="postStatus.status == 'error'" class="errorText">{{ postStatus.message }}</p>
                        <p ng-if="postStatus.status !== 'error'">{{ postStatus.message }}</p>
                    </div>
                    <form ng-show="editingTruck" data-ng-submit="editTruck(truck._id, truck.name, truck.windowCopy, truck.menuUrl, position, truck.address, setEditing)" class="col-lg-12">
                        <div class="row form-group">
                            <label for="truckDescription">Description:</label> 
                            <textarea id="truckDescription" cols="25" rows="3" class="form-control" ng-model="truck.windowCopy" placeholder="Enter new description"></textarea>
                        </div>
                        <div class="row form-group">
                            <label for="truckUrl">Website/Menu link:</label> 
                            <input type="text" name="url" id="truckUrl" class="form-control" ng-model="truck.menuUrl" placeholder="Enter url here">
                        </div>
                        <div class="row form-group">
                            <label for="truckUrl">Location:</label>
                            <div class="row">
                                <div class="col-lg-9">
                                    <input type="text" name="address" id="truckAddress" class="form-control" ng-model="truck.address" placeholder="Enter new address">
                                </div>
                                <div class="col-lg-1 txtC">
                                    <span>OR</span>
                                </div>
                                <div class="col-lg-2">
                                    <span class="btn btn-default form-control" ng-click="updateLocation(truck)">
                                        <span class="glyphicon glyphicon-map-marker"></span> Use GPS
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-default btn-primary col-md-6">Save</button>
                            <button class="btn btn-default btn-secondary col-md-6" ng-click="setEditing()" ng-if="editingTruck">Close</button>
                        </div>
                    </form>
        	    </li>
        	</ul>
        </div>
    </div>
</div>