<div class="container">
    <div class="jumbotron row rel">
        <div ng-if="fbShowDetails" class="col-lg-4 col-md-5 fbDetails">
            <span ng-click="showFbDetails()" class="glyphicon glyphicon-remove pull-right csrPointer"></span>
            <label class="mb20">
                <span class="mb10">Publish as:</span> 
                <select ng-if="fbLogInStatus === 104" ng-model="$parent.$parent.selectedPage" ng-options="page.name for page in fbPages track by page.id" class=""></select>
            </label>
            <button ng-click="setPage($parent.selectedPage)" class="col-md-12 btn btn-default btn-primary mb10">Set Page</button>
            <button ng-if="fbLogInStatus === 104" ng-click="fbRevoke()" class="col-md-12 btn btn-default btn-secondary">Remove Facebook Account</button>
        </div>

        <p nf-if="fbStatusText" class="pull-right">{{ fbStatusText }}</p>
        <div class="col-lg-12 pull-right">
            <button ng-show="fbLogInStatus == 103" ng-click="fbLogOut()" class="btn btn-default btn-secondary pull-right">Log out of Facebook</button>
            <button ng-click="fbLogin()" ng-hide="fbLogInStatus == 104 || fbLogInStatus == 103" class="btn btn-default btn-primary pull-right" >Log In With Facebook</button>
        </div>
        <div ng-if="!userHasTrucks">
            <div class="col-lg-12 mb20">
                <form data-ng-submit="" class="form-inline">
                    <h2>Add your food truck:</h2>
                </form>
            </div>
            <div truck-form></div>
        </div>
        <div ng-if="userHasTrucks" class="col-lg-12 mb20">
            <h2 class="mb20">Change your info or update your location:</h2>
            <ul class="list-unstyled">
        	    <li class="col-lg-8 mb20 p10 truckContainer" ng-repeat="truck in userTrucks">
                    <div class="col-lg-12 p5 mb30">
                        <div class="infoWindowWrapper">
                            <div style="width: 0px; height: 0px; border-right: 10px solid transparent; border-left: 10px solid transparent; border-top: 24px solid rgba(0, 0, 0, 0.1); position: absolute; left: 140px; top: 225px;"></div>
                            <div style="border-top-width: 24px; position: absolute; left: 140px; top: 225px;"><div style="position: absolute; overflow: hidden; left: -6px; top: -1px; width: 16px; height: 30px;"><div style="position: absolute; left: 6px; background-color: rgb(255, 255, 255); transform: skewX(22.6deg); transform-origin: 0px 0px 0px; height: 24px; width: 10px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);"></div></div><div style="position: absolute; overflow: hidden; top: -1px; left: 10px; width: 16px; height: 30px;"><div style="position: absolute; left: 0px; background-color: rgb(255, 255, 255); transform: skewX(-22.6deg); transform-origin: 10px 0px 0px; height: 24px; width: 10px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);"></div></div></div>
                            <div class="fakeInfoWindow">
                                <h3>{{ truck.name }}</h3>
                                <p class="address"><span class="glyphicon glyphicon-map-marker"></span>{{ truck.address | address }}</p>
                                <p>{{ truck.windowCopy }}</p>
                                <div class="menuLink">
                                    <a class="btn btn-default btn-primary" href="{{ truck.menuUrl | url }}" target="_blank">{{ truck.menuUrl }}</a>
                                </div>
                                <span class="dateModified">Last updated: {{ truck.dateModified | date:'MMM dd, yyyy H:mm' }}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="editFbPost" id="fbEdit" class="col-lg-12 p10 mb20">
                        <div>
                            <p ng-if="fbLogInStatus == 104">Posting to: {{ selectedPage.name }}</p>
                            <textarea ng-model="fbFinalText"  class="form-control mb20"></textarea>
                        </div>
                        <div>
                            <button ng-click="fbPagePost(selectedPage, fbFinalText)" class="btn btn-default btn-primary col-md-4 mr20">Post</button>
                            <button ng-click="cancelFbPost()" class="btn btn-default btn-secondary col-md-4">Cancel</button>
                        </div>
                        <div ng-if="loadingAnimation" class="col-md-3 spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <p ng-if="postStatus.message && postStatus.status == 'error'" class="errorText col-md-12 pt20">{{ postStatus.message }} <span ng-click="cancelFbPost()" class="glyphicon glyphicon-remove csrPointer"></span></p>
                        <p ng-if="postStatus.message && postStatus.status !== 'error'" class="col-md-12 pt20">{{ postStatus.message }} <span ng-click="cancelFbPost()" class="glyphicon glyphicon-remove csrPointer"></span></p>
                    </div>
                    <form ng-show="editingTruck" data-ng-submit="editTruck(truck._id, truck.name, truck.windowCopy, truck.menuUrl, position, truck.address, setEditing)" class="col-lg-12">
                        <div class="row form-group">
                            <label for="truckDescription">Description:</label> 
                            <textarea id="truckDescription" cols="25" rows="3" class="form-control" ng-model="truck.windowCopy" placeholder="Enter new description"></textarea>
                        </div>
                        <div class="row form-group">
                            <label for="truckUrl">Website/Menu link:</label> 
                            <input type="url" name="url" id="truckUrl" class="form-control" ng-model="truck.menuUrl" placeholder="Enter url here">
                        </div>
                        <div class="row form-group">
                            <label for="truckUrl">Location:</label>
                            <div class="row">
                                <div class="col-lg-8">
                                    <input type="text" name="address" id="truckAddress" class="form-control" ng-model="truck.address" placeholder="Enter new address">
                                </div>
                                <div class="col-lg-1 txtC">
                                    <span>OR</span>
                                </div>
                                <div class="col-lg-2">
                                    <span class="btn btn-default" ng-click="updateLocation(truck)">
                                        <span class="glyphicon glyphicon-map-marker"></span> Use GPS
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-default btn-primary">Save</button>
                            <button class="btn btn-default btn-secondary" ng-click="setEditing()" ng-if="editingTruck">Close</button>
                        </div>
                    </form>
                    <button class="btn btn-default btn-primary" ng-click="setEditing()" ng-if="!editingTruck">Edit</button>
                    <button class="btn btn-default btn-primary" ng-click="setupFbPost({text: truck.windowCopy, address: truck.address, link: truck.menuUrl})" ng-if="fbLogInStatus == 104 && !editingTruck">Post to Facebook</button>
                    <button class="btn btn-default btn-secondary" ng-click="deleteTruck(truck._id)" ng-if="!editingTruck"><span class="glyphicon glyphicon-remove"></span> Delete</span>
        	    </li>
        	</ul>
            <div class="col-lg-8 codeSnippet">
                <h3>Embed our map:</h3>
                <p>Paste the following code into the html of your site to embed our map with your truck on it.</p>
                <textarea ng-model="embedSnippet" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>