html, body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100vh;
}
.balance { margin-left: auto; margin-right: auto; }
.p0 { padding: 0; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.pt20 { padding-top: 20px; }
.pr20 { padding-right: 20px; }
.p20 { padding: 20px;}
.pb10 { padding-bottom: 10px; }
.mt0 { margin-top: 0; }
.mt5 { margin-top: 5px; }
.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.ml20 { margin-left: 20px; }
.mb0 { margin-bottom: 0px; }
.bdrRad0 { border-radius: 0px; }
.bdr0 { border: none;}
.hFullFooter { calc(100vh - 110px); }
.hFull { height: 100%; }
.wFull { width: 100%; }
.txtC { text-align: center; }
.csrPointer { cursor: pointer; }
.right { float: right; }
.hide { display: none; }
.txtWhite { color: #FFF; }
.btn-primary {
  background-image: -webkit-linear-gradient(top, #DE721B 0%, #D4650B 100%);
  background-image:      -o-linear-gradient(top, #DE721B 0%, #D4650B 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#D4650B));
  background-image:         linear-gradient(to bottom, #DE721B 0%, #D4650B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE721B', endColorstr='#D4650B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #D4650B;
}
.rel {
    position: relative;
}
.fbSection a {
    margin: 0;
    padding: 0;
}
.fbDetails {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #999999;
    z-index: 20;
}
.navbar-nav > li.fbSection > a {
    padding: 0;
}
.errorMessage {
    background-color: #F00; 
    color: #FFF;
    padding: 10px;
}
.username {
    color: #D4650B;
}
.nav > li > span {
  position: relative;
  display: block;
  padding: 15px;
}
.navbar-nav > li > span {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.bgBlack {
    background-color: #000;
    color: #FFF;
}
.bgBlack a {
    color: #D4650B;
}

.infoWindowWrapper {
  background-color: #FFF;
  border: 1px solid #CCC;
  width: 300px;
  height: 220px;
  padding: 20px;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.fakeInfoWindow {
  width: 250px;
  height: 150px;
}
.fakeInfoWindow p {
  font-size: 13px;
}
.infoWindow {
  width: 250px;
  height: 175px;
}
.infoWindow p {
  font-size: 13px;
}
.infoWindow .address {
    color: #6f6f6f;
    font-size: 12px;
}
#fbEdit {
    background-color: #dfdfdf;
}
.tacoIcon {
    margin: 5px 20px 0 0;
}
.overMap {
    position: absolute;
    margin-bottom: 13px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}
.codeSnippet {
    color: #000;
}
.codeSnippet textarea {
    background-color: #FFFFFF;
    color: #333333;
    padding: 20px;
    border: none;
    resize: none;
}
.menuLink {
    width: 100%;
    clear: both;
}
.menuLink a {
    color: #FFF;
    width: 100%;
}
.dateModified {
    float: right;
    padding: 15px 0 0 0;
}
.errorText {
    color: #F00;
}
.spinner {
  margin: 5px 0;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.heatMapToggle {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 20px;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


@media (max-width: 768px) {
    .footer {
        display: none;
    }
    .tacoIcon {
        margin-left: 20px;
        margin-right: 0;
    }
    .loginContainer {
      padding: 20px;
    }
}
@media (min-width: 768px) {
    .nav > li.contactLink {
        display: none;
    }
}