<form name="createTruck" data-ng-submit="formSubmit(navigator.geolocation)">
    <div class="col-lg-12 mb20">
        <input type="text" name="name" class="form-control" ng-model="newTruck.name" placeholder="Name">
    </div>
    <div class="col-lg-12 mb20">
        <input type="text" name="windowCopy" class="form-control" ng-model="newTruck.windowCopy" placeholder="Copy">
    </div>
    <div class="col-lg-12 mb20">
        <input type="url" name="url" class="form-control" ng-model="newTruck.menuUrl" placeholder="URL">
    </div>
    <div class="col-lg-12 mb20">
        <h2>Use an address, or leave blank to use your current location:</h2>
        <input type="text" name="address" class="form-control" ng-model="newTruck.address" placeholder="e.g. 500 Granby Street, Norfolk, VA OR Plume Street at Bank Street, Norfolk, VA">
    </div>
    <span class="col-lg-12">
        <button type="submit" class="btn btn-primary">Add</button>
    </span>
</form>